.imgcontainer {
  position: relative;
  text-align: center;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.imgcontainer:hover img {
  opacity: 0.6;
}
.h01 {
  width: 100%;
}
.imghover01 {
  position: relative;
  width: 50%;
  display: flex;

  .hovertext {
    color: rgb(241, 237, 238);
    transition: 1s;
    text-align: center;
    padding: 30%;
  }
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0; //最初は見えない
    background-color: rgba(0, 0, 0, 0.37);
    transition: 1s; //何秒間かけて変化するのか
  }
  .mask:hover.mask {
    opacity: 1;
  }
}
